<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppCenter</title>
    <link rel="stylesheet" href="../fonts/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
</head>

<body>
    
    <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-12">
                <img src="../images/AppsCenter.png">
            </div>
        </div>
    </div>

    <form name="appForm" class="needs-validiation" novalidate>
        
        <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-6">
                    <label>App Name*:</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="nameInput" placeholder="App name" style="width: 300px;">
                </div>
            </div>
        </div>

        <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-6">
                    <label>App Price*:</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="priceInput" placeholder="App price in $" style="width: 300px;">
                </div>
            </div>
        </div>

        <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-6">
                    <label>App Description:</label>
                </div>
                <div class="col-6">
                    <textarea rows="5" cols="20" id="descriptionInput" placeholder="App description" spellcheck="false" class="form-control" style="width: 300px;">
                            
                    </textarea>
                </div>
            </div>
        </div>

        <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-6">
                    <label>Company name:</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="companyInput" placeholder="Company name" style="width: 300px;">
                </div>
            </div>
        </div>

        <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-6">
                    <label>Image URL:</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="imageInput" placeholder="Image URL" style="width: 300px;">
                </div>
            </div>
        </div>
        
        <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 40px;">
            <div class="row">
                    <div class="col-6">
                        <label>*-Required</label>
                    </div>
                    <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" class="btn btn-success" id="submitBtn" style="width: 200px;"></input>
                        </div>
                        <div>
                            <p class="text-danger" id="invalidMessage"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="../controllers/AddApp.js" type="module"></script>
</body>
</html>